<% include ../partials/header %>

<h1>Sign up</h1>

<form>
  <label for="name">Name:</label>
  <input type="text" name="name" value="" class="name-sign-up"><br>
  <label for="email">Email:</label>
  <input type="email" name="email" value="" class="email-sign-up"><br>
  <label for="password">Password:</label>
  <input type="password" name="password" value="" class="password-sign-up"><br>
  <button type="submit" name="submit" class="sign-up-button">Submit</button>
</form>

<% include ../partials/footer %>
